<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<location>
  <system.webServer>
    <handlers>
      <remove xdt:Transform="Insert" name="WebDAV" />
      <remove xdt:Transform="Insert" name="TRACEVerbHandler" />
      <remove xdt:Transform="Insert" name="OPTIONSVerbHandler" />
      <remove xdt:Transform="Insert" name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add xdt:Transform="Insert" name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
    </handlers>
	<aspNetCore>
		<environmentVariables xdt:Transform="InsertIfMissing">
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" xdt:Transform="InsertIfMissing"/>
		</environmentVariables>
	</aspNetCore>
  </system.webServer>
  </location>
</configuration>
